      body {
         /* display: flex; */
         justify-content: center;
         font-family: sans-serif;
         font-size: 1.2vw;
         /* font-size: 1.2rem; */
         line-height: 1.6;
         background-color: #ffffff;
         margin: 0px;
         background-image: url("../media/beebgrustiger.png");
         /* background-position: center center; */
         /* background-size: cover; */
      }

      main {
         padding-left: 2vw;
         padding-right: 2vw;
         padding-bottom: 20%;
         /* Shorthand for horizontal centering: */
         margin: 0 auto;
         /* padding: 10px 35pc 1pc 10pc;  */
      }

      header {
         position: sticky;
         /* Toggles between relative and fixed positioning */
         top: 0;
         /* Sticks to the top of the viewport when scrolled to this position */
         background-color: rgb(227, 238, 245);
         /* Ensure the header has a background so content doesn't show through */
         color: rgb(0, 0, 0);
         padding: 1em;
         /* padding-left: 5pc; */
         z-index: 100;
         /* Ensures the header appears above other content */
         width: 100%;
         border-bottom: 1px solid grey;
         font-size: 2vw;

      }

      h1 {
         border-top: 2px solid rgb(31, 32, 34);
         padding-top: 10px;

         padding-bottom: 10px;
         border-bottom: 2px solid rgb(28, 31, 40);
         /* background-color: #085CF0; */
         color: #000000;

      }

      footer {
         font-size: 1.2vw;
         padding: 1vw;
      }



      .hoofdstuk {
         background-color: white;
         /* border:1px solid gray; 
         margin-bottom: 20px; */
      }

      .introduction {
         background-color: rgb(227, 238, 245);
         padding: 15px 40px 15px;
      }

      .dark {

         background-color: rgb(227, 238, 245);
         padding: 5px 20px 5px;
      }

      .light {

         padding: 5px 20px 5px;
      }

      li {
         list-style-type: disc;
         padding: 5px 20px 5px;
      }

      .red {
         background-color: rgb(207, 168, 179);
         padding: 5px 20px 5px;
      }

      iframe {
         border: 3px solid rgb(143, 170, 186);
         padding: 1em;
         /* width: auto; */
         width: 85%;
         height: 800px;
      }

      a:link {
         color: rgb(0, 0, 0);
         background-color: transparent;

      }

      a:visited {
         color: rgb(0, 0, 0);
         background-color: transparent;
      }

      .quicklinks {
         margin-bottom: 0px;
         border: 1px solid gray;
      }

      .textlinks {
         text-align: center;
      } 

      @media screen and (min-width: 400px) {
         body {
            font-size: 3vw;
         }

         main {
            padding-left: 2vw;
            padding-right: 2vw;
         }
      }

      @media screen and (min-width: 500px) {

         body,
         header {
            font-size: 2.7vw;
         }

         main {
            padding-left: 2vw;
            padding-right: 2vw;
         }
      }

      @media screen and (min-width: 600px) {

         body,
         header {
            font-size: 2.3vw;
         }

         main {
            padding-left: 2.3vw;
            padding-right: 2.3vw;
         }
      }

      @media screen and (min-width: 700px) {

         body,
         header {
            font-size: 2.0vw;
         }

         main {
            padding-left: 3.5w;
            padding-right: 3.5vw;
         }
      }

      @media screen and (min-width: 800px) {

         body,
         header {
            font-size: 1.8vw;
         }

         main {
            padding-left: 4.8vw;
            padding-right: 4.8vw;
         }
      }

      @media screen and (min-width: 900px) {

         body,
         header {
            font-size: 1.6vw;
         }

         main {
            padding-left: 6.1vw;
            padding-right: 6.1vw;
         }
      }

      @media screen and (min-width: 1000px) {

         body,
         header {
            font-size: 1.4vw;
         }

         main {
            padding-left: 9vw;
            padding-right: 9vw;
         }
      }

      @media screen and (min-width: 1100px) {

         body,
         header {
            font-size: 1.2vw;
         }

         main {
            padding-left: 14vw;
            padding-right: 14vw;
         }
      }

      @media screen and (min-width: 1200px) {

         body,
         header {
            font-size: 1.0vw;
         }

         main {
            padding-left: 19vw;
            padding-right: 19vw;
         }

         footer {
            font-size: 1vw;
            padding: 1vw;
         }
      }
