body {
    font-family: sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    background-color: #ffffff;
    margin: 0px;
}

header, .site-header {
    position: sticky; /* Toggles between relative and fixed positioning */
    top: 0;           /* Sticks to the top of the viewport when scrolled to this position */
    background-color: rgb(227, 238, 245); /* Ensure the header has a background so content doesn't show through */
    color: rgb(0, 0, 0);
    padding: 1em;
    z-index: 100;     /* Ensures the header appears above other content */
    width: 100%;
    border-bottom: 1px solid grey;

}

h1 {
   border-top: 2px solid rgb(9, 58, 235);
   padding-top: 10px;
   padding-bottom: 10px; 
   border-bottom: 2px solid rgb(9, 58, 235);
   /* background-color: #085CF0; */
   color: #000000;

}

footer {
   font-size: 1rem;
   padding: 10px 35pc 1pc 10pc; 
}

main {
    padding: 10px 35pc 1pc 10pc; 
}

.hoofdstuk {
   background-color: white;
   /* border:1px solid gray; 
   margin-bottom: 20px; */
}

div, .introduction {
   background-color: rgb(227, 238, 245);
   padding: 15px 40px 15px;
} 

.dark {
   background-color: #dbe1ed;
   /* background-color: rgb(227, 238, 245); */
   padding: 5px 20px 5px;
}

.light {
   
   padding: 5px 20px 5px;
} 

li {
   list-style-type: disc;
   padding: 5px 20px 5px;
}

.red {
   background-color: rgb(207, 168, 179);
   padding: 5px 20px 5px;
} 

iframe {
   border:0px;
}

a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;

}
a:visited {
  color: rgb(0, 0, 0);
  background-color: transparent;

}

